
header nav.switch {
    background: white;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
header nav.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 1;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
}
header nav.switch.active {
    background: rgb(4, 104, 4);
    color: black;
}
header nav.switch.active::after{
    left: unset;
    right: 0;
}
header nav span{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.body{
    background-color: rgba(0,0,0,.8);
}

div#cuerpo{
    margin: auto;
    margin-top: 60px;
    background-color: blue;
    width: 400px;
    height: 500;
    background: rgb(96, 202, 74);
    font-family: 'Roboto', sans-serif;
    transition: .3s ease all;
    color: rgb(0, 0, 0)
}
div#cuerpo.dark{
    margin: auto;
    margin-top: 60px;
    background-color: blue;
    width: 400px;
    height: 500;
    background: rgb(109, 107, 8);
    transition: .3s ease all;
    font-weight: bold;
    color: whitesmoke;
}