#modal1{
    background-color:antiquewhite;
    width: 450px;
    border-radius: 5px;
    border: 2px solid black;
}

#btnLogin{
    background-color: lightgray;
    border-radius: 9px;
    border: 1px solid gray;
}
#btnLogin:hover{
    background-color: gray;
    border-radius: 9px;
}
#txtContraseña:hover, #txtCorreo:hover{
    border: 2px solid black;
}